# this file sets up which files are taken into account by git and which are ignored in this repository

# work in progress notebooks will be ingnore
wip*

# plots will be ignore
*.png
*.jpg
*.pdf
*.eps
*.ps

# data files
*.nc
*.b
*.nc4

# mac files
.DS_Store
.DS_Store/

# temp DREAM model files
fort.*

# python stuff
./__pycache__

